/*-----------------------------------------CLASES--------------------------------------------*/

/*------------------Tarjetas de actividades (Privilegios)--------------------*/
/*------------------Tarjetas--------------------*/

.actividad{
	-webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);
	box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.42);

	/*-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.14);
	-moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.14);
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.14);*/

	transition: all .2s ease-in-out;
}

.actividad:hover{
	-webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.42);
	box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.42);


	/*-webkit-box-shadow: 25px 25px 26px 0px rgba(0,0,0,0.14);
	-moz-box-shadow: 25px 25px 26px 0px rgba(0,0,0,0.14);
	box-shadow: 25px 25px 26px 0px rgba(0,0,0,0.14);*/
	
	transform: scale(1.06);
}

/*------------------Card Deck espacio de separación entre tarjetas--------------------*/
.CardDeckActividad{
	margin-bottom: 5%;
}
/*------------------Style of fluid containers--------------------*/
.container-fluid{
	padding-right: 15%;
	padding-left: 15%;
}
/*------------------Container de efectos de fondo de Actividades--------------------*/
.containerSetActividades{
	padding-left: 7%;
	padding-right: 7%;
	padding-top: 10rem;
	padding-bottom: 5%;
	background: linear-gradient(90deg, rgba(225,230,234,1) 0%, rgba(248,249,250,1) 100%);
}

/*------------------Tarjeta no visible--------------------*/
.No_visible{
	visibility: hidden;
}



/*------------------NavBar--------------------*/
/*------------------Navbar Style--------------------*/
.NavbarContainer{
	margin-left: 0%;
	font-size: 110%;
	font-weight: 700; 
	color: white;
	z-index: 2;
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.19);
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.19);
	background:
	linear-gradient(90deg, rgba(82,90,96,1) 0%, rgba(82,90,96,1) 100%);
	/* azul oscuro #224d71*/
	/*linear-gradient(90deg, rgba(159,0,4,1) 0%, rgba(159,0,4,1) 100%);*/

	/*background: linear-gradient(90deg, rgba(210,217,223,1) 0%, rgba(248,249,250,1) 100%);*/

	/*Este es el gris*/
	/*background: linear-gradient(90deg, rgba(225,230,234,1) 0%, rgba(248,249,250,1) 100%);
	*/

	/*Azules
	background: linear-gradient(90deg, rgba(0,151,255,1) 0%, rgba(112,227,255,1) 100%);
	background: linear-gradient(90deg, rgba(0,151,255,1) 0%, rgba(112,201,255,1) 37%, rgba(112,227,255,1) 100%);*/
} 

/*------------------Navbar Logo MinerUCAB--------------------*/
.NavbarLogo{
	width: 14rem;
	height: 10%;
}

/*------------------Nav Bar Toggle--------------------*/
.ToggleNav{
	padding-left: 2%;
}



/*--------------------------Opciones GLobales----------------------------*/
/*------------------Side Bar Item Rows Hover--------------------*/
.list-group-item.Items:hover{
    background-color: #b9bbbe;
    color:white;
    border-color: transparent;
     
	/*box-shadow: inset 0px -7px 9px -5px rgba(0,0,0,0.35), inset 0px 7px 9px -4px rgba(0,0,0,0.35);*/
}

/*------------------Side Bar Cerrar Sesión--------------------*/
.list-group-item.CerrarSesion{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-radius: 0px;
  font-size: 130%;
}
.list-group-item.active.CerrarSesion {
    z-index: 2;
    color: #fff;
    background-color:#b9bbbe;
    border-color: transparent;
}
.list-group-item.CerrarSesion:hover{
    background-color: #b9bbbe;
    color:white;
}

/*------------------Side Bar Focus Option--------------------*/
button:focus.FocusLI {
    outline: 5px auto transparent;
}

/*------------------Side Bar Active Option--------------------*/
.list-group-item.active.ActiveLI {
    color: #1b1e21;
    background-color: #b9bbbe;
    border-color:rgba(0,0,0,.125) ;
 	/*box-shadow: inset 0px -7px 9px -5px rgba(0,0,0,0.27), inset 0px 7px 9px -4px rgba(0,0,0,0.27);*/
}

/*------------------Side Bar Item Rows--------------------*/
.ListItem1{
	background-color: transparent;
	border:none;
	color: white;
	word-break: keep-all;
	padding-top: 10%;
}
/*------------------Iconos del Side Bar--------------------*/
.SideBarIcons{
      margin-right: 3%;
      width: 30px;
      height: 30px;
}


/*------------------Forms Diego--------------------*/
.FormContainer{
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 10%;
}
.input-group.MyInputGroup{
	    flex-direction: unset;
	    margin-bottom: 0%;
}

.form-row>.col, .form-row>[class*=col-].inputsPaddingRight{
	padding-right: 2%;
}
.form-row>.col, .form-row>[class*=col-].inputsPaddingLeft{
	padding-left: 2%;
}
.formMargins{
	margin-top: 5%;
}
.formTitulo:hover{
	background-color: lavender;
}
/*.formTitulo{
	-webkit-box-shadow: 0px 0px 30px -14px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 30px -14px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 30px -14px rgba(0,0,0,0.75);
	/*background: linear-gradient(90deg, #525a60 0%, #525a60 100%);*/
	/*background:linear-gradient(90deg, rgba(62,13,191,1) 0%, rgba(48,21,107,1) 100%);
	color: white;
	padding-left: 3%;

}*/
.formMarginsE{
	margin-top: 5%;
	margin-bottom: 0%;
}

/*------------------Registrar Yacimiento--------------------*/

.btn-eliminar{
  	margin-left: 83%;
  	margin-top: 3%;
}
.btn-agregar{
	margin-top: 3%;
	margin-bottom: 3%;
}
@media screen and (max-width: 768px) {
   .btn-eliminar{
	  	margin-left: 78%;
	  	margin-top: 3%;
	}
}

/*------------------Accordion--------------------*/
.accordion{
	padding:0%;
	background-color: transparent;
}
.card.CardAcc{
	border-color: transparent;
	border:none;
}
.card-header.borderacc{
	border-bottom: none;
}
.card-body.BodyAcc{
	padding: 1%;
	margin:1%;
}
.BodyAcc:hover{
	-webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.2);
box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.2);
}

/*-----------------------------------------ID's--------------------------------------------*/

/*------------------Opciones GLobales--------------------*/
/*--------Parte de la página debajo del navbar--------*/
#Content {
    transition: margin-left .5s;
}

/*--------Side Bar--------*/
#SideBar{
    height: 100%; 
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 0px;
	display:none;
	overflow-x: hidden;
	transition: all 0.5s;
	padding-top: 50px;
	-webkit-box-shadow: 10px 0px 10px -4px rgba(0,0,0,0.14);
	-moz-box-shadow: 10px 0px 10px -4px rgba(0,0,0,0.14);
	box-shadow: 10px 0px 10px -4px rgba(0,0,0,0.14);
	background-color: #525a60;
}


/*-----------------------------------------Efectos/Animaciones (Key Frames)--------------------------------------------*/

/*------------------Opciones GLobales--------------------*/
/*--------Animación de entrada del Side Bar--------*/
@keyframes slideIn {
    0%   {left:-250px;}
    100% {left:0px;}
}


/*--------Animación de salida del Side Bar--------*/
@keyframes slideOut {
    0%   {left:0px;}
    100% {left:-250px;}
}

/*--------Ventas Andreita--------*/
.colorcon{
	background-color: lavender;
	margin-bottom: 20%;
}
.ven{
	background: rgba(255, 255, 255, 0.6);
}

/*--------Botones Yacimientos--------*/

.btn-primary.RYacimiento-btn{
    border: 1px solid rgb(149, 21, 186);
    border-radius: 1.50rem;
    background-color: #fff;
    color: rgb(149, 21, 186);
    width: 40%;
    margin: 0px;
    margin-top: 5%;
    display: inline;
}

.btn-primary.RYacimiento-btn:focus{
    box-shadow: inset 0 1px 1px rgb(149, 21, 186), 0 0 8px rgb(149, 21, 186);
}

.btn.btn-primary.RYacimiento-btn:hover{
  border: 1.5px solid rgb(149, 21, 1860);
  background-color: rgb(149, 21, 186);
  color: #fff;
}

.btn-primary.RYacimiento-btn.btn-margin-izq{
	margin-left: 20%;

}

.btn-primary.RYacimiento-btn.btn-margin-izq-vol{
	margin-left: 50%;

}

/*--------Inputs Invalidos registrar yacimientos--------*/
.invalid {
  border-color: hsl(0, 76%, 50%);
/*box-shadow: 0px 10px 8px -4px rgba(255,0,0,0.5);*/
box-shadow: 0px 10px 8px -8px rgba(255,0,0,0.6);

}
invalidText{
	color: rgba(255,0,0,0.6);
}
input[data-state="valid"] {
  border-color: hsl(120, 76%, 50%);

}

/*--------Imagenes registrar ecplotacion--------*/

.empleadosImage{
	/*box-shadow: 10px 101x 17px -9px rgba(0,0,0,0.75);*/
	filter: drop-shadow(10px 10px 12px #2228); 
	transform:scale(0.5);
	transition: all .2s ease-in-out;
	padding-left: 0%;
	width: 200%;
	margin-bottom: -10%;

}
.empleadosImage:hover{
	filter: drop-shadow(17px 15px 17px #2224); 
	transform:scale(0.7);
	z-index: 2;

}

.empleadosImageOtro{
	/*box-shadow: 10px 101x 17px -9px rgba(0,0,0,0.75);*/
	filter: drop-shadow(10px 10px 12px #2228); 
	transform:scale(0.45);
	transition: all .2s ease-in-out;
	padding-left: 0%;
	width: 200%;
	margin-bottom: -10%;

}
.empleadosImageOtro:hover{
	filter: drop-shadow(17px 15px 17px #2224); 
	transform:scale(0.6);
	z-index: 2;

}

.empleadasImage{
	/*box-shadow: 10px 101x 17px -9px rgba(0,0,0,0.75);*/
	filter: drop-shadow(10px 10px 12px #2228); 
	transform:scale(0.55);
	transition: all .2s ease-in-out;
	margin-top:2%;
	padding-left: 7%;
	width: 200%;
	margin-bottom: -10%;


}
.empleadasImage:hover{
	filter: drop-shadow(17px 15px 17px #2224); 
	transform:scale(0.8);
	z-index: 2;

}



.containerempleados{
	padding-left: 1%;
	margin-bottom:10%
	
}

.textoEmpleadas{
	text-align: center;
	font-weight: 200;
	font-size: 200%;
	margin-top: 3%;
	margin-left: -17%;
	width: 135%;


}

.textoEmpleados{
	text-align: center;
	font-weight: 200;
	font-size: 200%;
	margin-top: 3%;
	width: 120%;
}
.textoEmpleadosOtro{
	text-align: center;
	font-weight: 200;
	font-size: 210%;
	margin-top: 3%;
	margin-left: -3%;
	width: 135%;
}

.BotonHorarioM{
	width: 150%;
    font-size: 250%;
    margin-left: -13%;
    transform:none !important;
}
.BotonHorarioM:hover{
	
    transform:none !important;
}
.BotonHorarioF{
	width: 150%;
    font-size: 250%;
    margin-left: -20%;
    transform:none !important;
}
.BotonHorarioF:hover{
	
    transform:none !important;
}

.BotonHorarioO{
	width: 150%;
    font-size: 250%;
    margin-left: -13%;
    transform:none !important;
}
.BotonHorarioO:hover{
	
    transform:none !important;
}

.maquinaria{
	filter: drop-shadow(10px 10px 12px #2228); 
	transform:scale(0.43);
	transition: all .2s ease-in-out;
	padding-left: 0%;
	width: 200%;
	margin-bottom: -10%;
}
.maquinaria:hover{
	filter: drop-shadow(17px 15px 17px #2224); 
	transform:scale(0.5);
	z-index: 2;
}
.maquinariaText{
	text-align: center;
	font-weight: 200;
	font-size: 200%;
	margin-top: 3%;
	width: 120%;
}
.containerMaquinaria{
	   padding-left: 0%;
    margin-left: -8%;
    margin-bottom: 10%;
}
.badgeMaquinaria{
	margin-left: 10%;
}


.TextoModal{
	text-align: left;
	font-weight: 200;
	font-size: 150%;
	width: 135%;
	margin-left: 0%;
	padding-left: 0%;
	padding-right: 40%;
}

.TextoModalF{
	text-align: center;
	font-weight: 200;
	font-size: 150%;
	width: 135%;
	margin-left: 0%;
	padding-left: 0%;
    padding-right: 70%;
}
.HorariosCont{
	padding-left: 10%;

}
.modalS{
	width: 200%
}
@media (min-width: 992px) {
  .modal-lg {
    width: 200%;
  }
}
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:900px;
  }
}
/*-----------------------------------------Responsive stuff--------------------------------------------*/


@media screen and (max-width:1440px) {
	.card-deck{
	    display: block ;  
	    width: 100%  ;
	}
	.card-deck .card {
	    display: block;
	    margin-bottom: 10%;
	    margin-right: 0%;
	    
	}

}


@media screen and (min-width: 992px){
	.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
   }
   .card-deck{
  	display: flex;
  }
}

@media screen and (max-width: 992px) {
   .card-deck{
  	display: block;
  }
  .containerSetActividades{
  	align-content: center;
  	justify-content: center;
  	padding-left: 27%;
  }
  .empleadasImage{
	/*box-shadow: 10px 101x 17px -9px rgba(0,0,0,0.75);*/
	
	padding-left: 15%;
	margin-bottom:-30%
	/*margin-left: 40%;*/

	}
	.empleadosImageOtro{
	/*box-shadow: 10px 101x 17px -9px rgba(0,0,0,0.75);*/
		padding-left: 15%;
		margin-bottom:-30%

	}	
	.empleadosImage{
	/*box-shadow: 10px 101x 17px -9px rgba(0,0,0,0.75);*/
	
	
	margin-bottom:-30%
	/*margin-left: 40%;*/

	}

	.textoEmpleadas{
	
		font-weight: 200;
		font-size: 200%;
		margin-top: 3%;
		margin-left: -15%;
		width: 300%;


	}

	.textoEmpleados{
		font-weight: 200;
		font-size: 200%;
		margin-left: 10%;
		width: 200%;
	}
	.textoEmpleadosOtro{
		font-weight: 200;
		font-size: 210%;
		margin-top: 3%;
		margin-left: 60%;
		width: 350%;
	}


	.containerempleados{
		margin-bottom: 20%;
	}

	.BotonHorarioM{
		
	    margin-left: 34%;
	}
	.BotonHorarioF{
		
	    width: 300%;
    	margin-left: -17%;
	}
}

@media screen and (max-width: 768px) {
   .card-deck{
  	display: block;
  }
  .containerSetActividades{
  	align-content: center;
  	justify-content: center;
  	padding-left:  20%;
  }
  .empleadasImage{
	/*box-shadow: 10px 101x 17px -9px rgba(0,0,0,0.75);*/
	margin-top: 7%;
	padding-left: 17%

	}
	.empleadosImageOtro{
	/*box-shadow: 10px 101x 17px -9px rgba(0,0,0,0.75);*/
		margin-top: -1%;
		padding-left: 17%

	}	
}

@media screen and (max-width:576px) {
	.NavbarLogo{
		width: 11rem;
		height: 10%;
	}
	.containerSetActividades{
  	align-content: center;
  	justify-content: center;
  	padding-left:  10%;
  }


}