.ccargo-title{
    color: rgba(90, 34, 112, 0.8);
    font-weight: 800;
}

.div-content-form-ccargo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-ccargo-separator{
    margin-top: 20px;
}

.form-control.form-input-ccargo{
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    background-color: transparent;
    font-style: italic;
    font-weight: 100;
    font-size: smaller;
}

.form-control.form-input-ccargo:focus{
    border-color: rgb(50, 111, 180);
    box-shadow: inset 0 1px 1px white, 0 0 8px white;
}

.div-btn-form-ccargo{
    margin-top: 50px;
}

.btn-primary.ccargo-btn{
    border: 1px solid rgb(50, 111, 180);
    border-radius: 1.50rem;
    background-color: #fff;
    color: rgb(50, 111, 180);
    width: 40%;
}

.btn-primary.ccargo-btn:focus{
    box-shadow: inset 0 1px 1px rgb(50, 111, 180), 0 0 8px rgb(50, 111, 180);
}

.btn.btn-primary.ccargo-btn:hover{
  border: 1.5px solid rgb(50, 111, 180);
  background-color: rgb(50, 111, 180);
  color: #fff;
}