.icons{
	font-size: 1.5em;
	padding: 1px;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	/*color:white;*/
}
.icons:hover{
	color: white;
}

.iconpassword{
	color: gray;
	font-size: 1rem;
}

.icondelete{
	color: Tomato;
	border: 1px solid tomato;
	border-radius: 25%;
	/*background-color: tomato;*/
}
.icondelete:hover{
	background-color: tomato;
}

.iconreport:hover{
	color: gray;
}

.iconsearch{
	color: gray;
	border: 1px solid gray;
	/*background-color: gray;*/
	border-radius: 25%;
}
.iconsearch:hover{
	background-color: gray;
}

.iconedit{
	color: rgba(1,70,186,1);
	border: 1px solid rgba(1,70,186,1);
	border-radius: 25%;
	/*background-color: rgba(1,70,186,1);*/
}
.iconedit:hover{
	background-color: rgba(1,70,186,1);
}

.iconadd{
	color: #326fb4;
	font-size: 3em;
	display: inline-block;
	position: absolute;
    bottom: -5rem;
    right: 0;
	cursor: pointer;
}

.icongoback{
	font-size: 3.3rem;
	color: #000000;
}

.iconexp{
	border: 1px solid black;
	border-radius: 25%;
}

.iconexp:hover{
	background-color: #000000;
	color: white;
}

.icongoback:hover{
	background-color: #000000;
}