.sc-image-background{
    margin-top: 1.5rem;
    background-color: rgba(82,90,96,1);
}

.sc-factura-title{
    margin-top: 3rem;
    margin-left: 7rem;
    color: rgb(112, 119, 124);
    font-style: bold;
    font-size: 3rem;
}

.sc-subtitle{
    font-size: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.sc-fecha{
    margin-left: 4rem;
}

.sc-factura{
    margin-left: 9rem;
}

.sc-id-empresa{
    margin-left: 8.3rem;
}

.sc-direccion-mu{
    font-size: 1.3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.sc-empresa-aliada{
    margin-top: 4rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
    color: rgb(112, 119, 124);
    font-style: bold;
    font-size: 2.3rem;
}

.sc-direccion-cliente{
    margin-bottom: 0rem; 
}

.sc-detalle-compra{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center
}

.sc-th{
    background-color: #454d55;
    color: #fff;
}

.sc-final-empty-td{
    background-color: #fff;
}

.sc-subtotal{
    font-style: bold
}

.reporte{
    width: 90%;
    margin-left: 4.3rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center
}